* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  
}

body {
    font-family: 'Nunito Sans', sans-serif;
}

.header {
    margin-bottom: 1rem;
}
.reglas{
  width: auto;
  padding: 2rem;
  margin: 2rem;
 align-items: center;
 justify-content: center;
 background-image: url("./papel.jpg");
 background-size: cover;
 background-position: center;
 text-align: center;
 column-gap: rem;
}